{% if 'Loopback0' == interface.name -%}
!
interface {{ interface.name }}
 description Underlay Management Loopback
 ip address {{ interface.ipv4_addr }} {{ interface.ipv4_netmask }}
 ip pim sparse-mode
 ip router isis
 clns mtu 1400
!
{%- else -%}
!
{% for member in interface.name -%}
{% if 'stubSvi' == interface.type -%}
interface {{ member }}
 description {{ interface.description }}
 ip address {{ interface.ipv4_addr }} {{ interface.ipv4_netmask }}
 ip router isis
!
{%- elif 'stubAccess' == interface.type -%}
interface {{ member }}
 description {{ interface.description }}
 switchport access vlan {{ interface.vlan }}
 switchport mode access
 spanning-tree portfast
!
{%- elif 'stubTrunk' == interface.type -%}
interface {{ member }}
 description {{ interface.description }}
 switchport mode trunk
 spanning-tree portfast trunk
!
{%- elif 'stubTrunkDnac' == interface.type -%}
interface {{ member }}
 description {{ interface.description }}
 switchport trunk native vlan {{ interface.vlan }}
 switchport mode trunk
 spanning-tree portfast trunk
!
{%- elif 'routedSvi' == interface.type -%}
interface {{ member }}
 description {{ interface.description }}
 switchport mode trunk
 spanning-tree portfast trunk
!
interface vlan{{ interface.vlan }}
 ip address {{ interface.ipv4_addr }} {{ interface.ipv4_netmask }}
 no ip redirects
 ip route-cache same-interface
!
vlan {{ interface.vlan }}
 name routedSvi
!
{%- else -%}
interface {{ member }}
 description {{ interface.description }}
 no switchport
 dampening
 ip address {{ interface.ipv4_addr }} {{ interface.ipv4_netmask }}
 ip lisp source-locator Loopback0
 ip pim sparse-mode
 ip router isis 
 logging event link-status
 load-interval 30
 bfd interval 100 min_rx 100 multiplier 3
 no bfd echo
 clns mtu 1400
 isis network point-to-point 
!
{%- endif %}
{%- endfor -%}
{%- endif %}
